In below,

how does a class passes entire Kwargs to a function

Method 1:

In [1]:
class PassingEntireKwargsToFunctions:
    def __init__(self, aaa, bbb=None, ccc=None, **kwargs):
        self.aaa = aaa
        self.bbb = bbb
        self.ccc = ccc
        self.kwargs = kwargs
        print(self.kwargs)

    def do_something(self):
        print_all(self.aaa, **self.kwargs)

def print_all(aaa, **kwargs):
    print(aaa)
    print(kwargs.items())

In [2]:
test = PassingEntireKwargsToFunctions("aaa", bbb="bbb", ccc="ccc")

{}

In [3]:
test.do_something()

aaa
dict_items([])

In [4]:
test = PassingEntireKwargsToFunctions("aaa", bbb="bbb", ccc="ccc", ddd="ddd", eee="eee")

{'ddd': 'ddd', 'eee': 'eee'}

In [5]:
test.do_something()

aaa
dict_items([('ddd', 'ddd'), ('eee', 'eee')])

Method 2:

In [1]:
class PassingEntireKwargsToFunctions:
    def __init__(self, aaa, bbb=None, ccc=None):
        self.aaa = aaa
        self.bbb = bbb
        self.ccc = ccc

    def do_something(self, **kwargs):
        print_all(self.aaa, **kwargs)

def print_all(aaa, **kwargs):
    print(aaa)
    print(kwargs.items())

In [2]:
test = PassingEntireKwargsToFunctions("aaa", bbb="bbb", ccc="ccc")
test.do_something()

aaa
dict_items([])

In [3]:
test.do_something(ddd="ddd", eee="eee")

aaa
dict_items([('ddd', 'ddd'), ('eee', 'eee')])

<br>
<br>

In below,

Joblib Parallel https://joblib.readthedocs.io/en/latest/parallel.html

In [ ]:
Parallel(n_jobs)(
    delayed(a_function)(split_array)
    for split_array in np.array_split(array_to_be_split, effective_n_jobs(n_jobs))
)

<br>
<br>

In below,

the use of `pathlib`

In [ ]:
from pathlib import Path
Path(Path.cwd()).resolve()

In [ ]:
Path(Path.cwd()).resolve().parent.parent.resolve()

In [ ]:
Path(Path.cwd()).resolve().parents[0]

In [ ]:
Path(Path.cwd()).resolve().parents[1]

In [ ]:
Path(Path.cwd()).resolve().parents[2]

<br>
<br>

In below,

with `size()`, you can groupby and count, without specifying what to count

In [ ]:
(
    df
    .groupby(["large_category", "small_category"])
    .size()
    .reset_index(name='counts')
)

Percentage of each category

In [ ]:
df['wanted_column'].value_counts('pct')

<br>
<br>
<br>

- `pytest test_file.py -s` will print standard output. Without `-s`, any printing in the unit tests will not appear in the terminal.

- Use `pip install -e . --user` to install a cloned/downloaded python project.
    - https://stackoverflow.com/questions/42988977
    - https://stackoverflow.com/questions/42609943

<br>
<br>

How to cherry pick a few files from a branch and bring them into the current branch?

https://jasonrudolph.com/blog/2009/02/25/git-tip-how-to-merge-specific-files-from-another-branch/

Notice we need to stay in the correct current folder for the pathnames of the wanted files to make sense.

<br>
<br>

In below,

Use tabulate to form table

In [ ]:
from tabulate import tabulate
# assume that we have a dataframe df
print(tabulate(df.values, df.columns, tablefmt="github"))

<br>
<br>

In below,

`defaultdict` is useful for counting

In [1]:
from collections import defaultdict

s = [('yellow', 1), ('blue', 2), ('yellow', 3), ('blue', 4), ('red', 1)]
d = defaultdict(list)
for k, v in s:
    d[k].append(v)
sorted(d.items())

[('blue', [2, 4]), ('red', [1]), ('yellow', [1, 3])]

In [2]:
s = 'mississippi'
d = defaultdict(int)
for k in s:
    d[k] += 1

sorted(d.items())

[('i', 4), ('m', 1), ('p', 2), ('s', 4)]

<br>
<br>

In below,

the use of `itertools.tee`

In [1]:
import itertools

In [2]:
def create_pairs(iterable):
    """(s0,s1), (s1,s2), (s2, s3), ..."""
    a, b = itertools.tee(iterable)
    next(b, None)
    return zip(a, b)

In [3]:
list(range(0, 10, 2))

[0, 2, 4, 6, 8]

In [4]:
list(create_pairs(list(range(0, 10, 2))))

[(0, 2), (2, 4), (4, 6), (6, 8)]

<br>
<br>

In below,

the `unstack(fill_value=0).stack()` trick to keep a column always expanded

In [1]:
import pandas as pd

data = {'person_id': [1,2,2,2,3,4,4,6], 
        'admission_id': [123,234,234,234,345,456,567,678], 
        'timespan': ['12h', '12h', '24h', '36h', '12h', '12h', '24h', '48h'], 
        'label': ['A', 'B', 'B', 'B', 'C', 'C', 'C', 'B'], 
        'value': [56,170,170,170,65,64,53,150]}
df = pd.DataFrame(data=data).pivot_table(
    values='value', 
    index=['person_id', 'admission_id', 'timespan'], 
    columns='label', 
    fill_value=0
)
df

label                             A    B   C
person_id admission_id timespan
1         123          12h       56    0   0
2         234          12h        0  170   0
                       24h        0  170   0
                       36h        0  170   0
3         345          12h        0    0  65
4         456          12h        0    0  64
          567          24h        0    0  53
6         678          48h        0  150   0

In [2]:
df.unstack(fill_value=0).stack()

label                             A    B   C
person_id admission_id timespan
1         123          12h       56    0   0
                       24h        0    0   0
                       36h        0    0   0
                       48h        0    0   0
2         234          12h        0  170   0
                       24h        0  170   0
                       36h        0  170   0
                       48h        0    0   0
3         345          12h        0    0  65
                       24h        0    0   0
                       36h        0    0   0
                       48h        0    0   0
4         456          12h        0    0  64
                       24h        0    0   0
                       36h        0    0   0
                       48h        0    0   0
          567          12h        0    0   0
                       24h        0    0  53
                       36h        0    0   0
                       48h        0    0   0
6         678          12h        0    0   0
                       24h        0    0   0
                       36h        0    0   0
                       48h        0  150   0

<br>
<br>

In below,

print multiple lines can be as simple as this

In [1]:
print(
    "Asdf asdf asdf. "
    "Fdsa fdsa fdsa."
)

Asdf asdf asdf. Fdsa fdsa fdsa.

In [2]:
raise Exception(
    "Asdf asdf asdf. "
    "Fdsa fdsa fdsa."
)

Exception: Asdf asdf asdf. Fdsa fdsa fdsa.

<br>
<br>

In below,

check a Pandas Dataframe's size

In [1]:
import pandas as pd

data = {'person_id': [1,2,2,2,3,4,4,6], 
        'admission_id': [123,234,234,234,345,456,567,678], 
        'timespan': ['12h', '12h', '24h', '36h', '12h', '12h', '24h', '48h'], 
        'label': ['A', 'B', 'B', 'B', 'C', 'C', 'C', 'B'], 
        'value': [56,170,170,170,65,64,53,150]}
df = pd.DataFrame(data=data)

df.memory_usage(index=True).sum()

448

The memory usage of each column

In [2]:
df.memory_usage(index=True)

Index           128
person_id        64
admission_id     64
timespan         64
label            64
value            64
dtype: int64

<br>
<br>

In below,

Mutable objects: list, dict, set, etc.

Immutable objects: boolean, int, float, string, tuple, etc.

In [1]:
x = 10
y = x

In [2]:
id(x) == id(y)

True

In [3]:
id(y) == id(10)

True

In [4]:
x = x + 1

In [5]:
id(x) == id(y)

False

In [6]:
id(x) == id(10)

False

In [7]:
m = list([1, 2, 3])
n = m

In [8]:
id(m) == id(n)

True

In [9]:
m.pop()
id(m) == id(n)

True