In below,

Linked list

In [1]:
class ListNode:
    def __init__(self, val=0, next=None):
        self.val = val
        self.next = next

A function to convert a normal list to a linked list

In [2]:
def lst2link(lst):
    cur = dummy = ListNode(0)
    for e in lst:
        cur.next = ListNode(e)
        cur = cur.next
    return dummy.next

In [3]:
list1 = [1,3,5,7,9]
list2 = [2,4,6,8,10]

l1 = lst2link(list1)
l2 = lst2link(list2)

Merge Two Sorted Linked Lists, iteratively

In [4]:
def mergeTwoLists1(l1, l2):
    dummy = cur = ListNode(0)
    while l1 and l2:
        print("l1.val:", l1.val)
        print("l2.val:", l2.val)
        if l1.val < l2.val:
            cur.next = l1
            l1 = l1.next
        else:
            cur.next = l2
            l2 = l2.next
        cur = cur.next
        print("cur.val:", cur.val)
    print("l1.val:", "is none" if l1 is None else l1.val)
    print("l2.val:", "is none" if l2 is None else l2.val) 
    cur.next = l1 or l2
    return dummy.next

In [5]:
sorted_list = mergeTwoLists1(l1, l2)

l1.val: 1
l2.val: 2
cur.val: 1
l1.val: 3
l2.val: 2
cur.val: 2
l1.val: 3
l2.val: 4
cur.val: 3
l1.val: 5
l2.val: 4
cur.val: 4
l1.val: 5
l2.val: 6
cur.val: 5
l1.val: 7
l2.val: 6
cur.val: 6
l1.val: 7
l2.val: 8
cur.val: 7
l1.val: 9
l2.val: 8
cur.val: 8
l1.val: 9
l2.val: 10
cur.val: 9
l1.val: is none
l2.val: 10

In [6]:
while sorted_list:
    print(sorted_list.val)
    sorted_list = sorted_list.next

1
2
3
4
5
6
7
8
9
10

Merge Two Sorted Linked Lists, recursively

In [7]:
l1 = lst2link(list1)
l2 = lst2link(list2)

In [8]:
def mergeTwoLists2(l1, l2):
    if not l1 or not l2:
        print("l1.val:", "is none" if l1 is None else l1.val)
        print("l2.val:", "is none" if l2 is None else l2.val) 
        return l1 or l2
    if l1.val < l2.val:
        l1.next = mergeTwoLists2(l1.next, l2)
        print("l1.val:", l1.val)
        return l1
    else:
        l2.next = mergeTwoLists2(l1, l2.next)
        print("l2.val:", l2.val)
        return l2

In [9]:
sorted_list = mergeTwoLists2(l1, l2)

l1.val: is none
l2.val: 10
l1.val: 9
l2.val: 8
l1.val: 7
l2.val: 6
l1.val: 5
l2.val: 4
l1.val: 3
l2.val: 2
l1.val: 1

In [10]:
while sorted_list:
    print(sorted_list.val)
    sorted_list = sorted_list.next

1
2
3
4
5
6
7
8
9
10

<br>
<br>

In below,

inverse a string

In [1]:
s = "a b c d e"
s[::-1]

'e d c b a'

<br>
<br>

In below,

check if something is empty

In [1]:
output = []
if output:
    print("Not empty")
else:
    print("Empty")

Empty

In [2]:
output = {}
if output:
    print("Not empty")
else:
    print("Empty")

Empty

In [3]:
output = set()
if output:
    print("Not empty")
else:
    print("Empty")

Empty

<br>
<br>

In below,

`collections.Counter` helps building a dict

In [1]:
import collections
collections.Counter(["a","a","b","c","c","c"])

Counter({'a': 2, 'b': 1, 'c': 3})

<br>
<br>

In below,

Use `some_dict.get("some_key", "some_default_value")` to provide default values when key doesn't exist

In [1]:
some_dict = {}
some_dict["a"] = some_dict.get("a", 0) + 1
some_dict

{'a': 1}

<br>
<br>

In below,

get all values; get all keys

In [1]:
d = {"aaa": 1, "bbb": 2, "ccc": 3}
d.keys()

dict_keys(['aaa', 'bbb', 'ccc'])

In [2]:
d.values()

dict_values([1, 2, 3])

<br>
<br>

In below,

`groupby('group_col').nth(the_first_or_second_or_third_etc)`

In [1]:
import pandas as pd

df = pd.DataFrame({
    'group': ["a", "c", "d", "a", "b", "b", "a", "b", "b"],
    'rank':  [  1,   2,   3,   4,   5,   6,   7,   8,   9]
}, columns=['group', 'rank'])

df.groupby('group').nth(0)

       rank
group
a         1
b         5
c         2
d         3

<br>
<br>

In below,

list sort by key

In [1]:
student_tuples = [
    ('john', 'A', 15),
    ('jane', 'B', 12),
    ('dave', 'B', 10),
]

sorted(student_tuples, key=lambda student: student[2])   # sort by age

[('dave', 'B', 10), ('jane', 'B', 12), ('john', 'A', 15)]

In [2]:
sorted(student_tuples, key=lambda student: student[1:])  # sort by grade, and then by age

[('john', 'A', 15), ('dave', 'B', 10), ('jane', 'B', 12)]

<br>
<br>

In below, given two binary strings a and b, return their sum as a binary string.

In [1]:
def addBinary(a: str, b: str) -> str:
    # https://stackoverflow.com/questions/22832615
    x, y = int(a, 2), int(b, 2)  # convert binary to decimal
    while y:  # carry must be exhausted
        print("x:", x)
        print("y:", y)
        answer = x ^ y  # XOR takes decimal numbers as args not binary numbers
        print("answer:", answer)
        carry = (x & y) << 1  # carry takes decimal numbers as args not binary numbers
        print("carry:", carry)
        print("++++++++++")
        x, y = answer, carry
    return bin(x)[2:]  # return a binary number in string format. First two chars are '0b', remove

addBinary("1010", "1011")

x: 10
y: 11
answer: 1
carry: 20
++++++++++
x: 1
y: 20
answer: 21
carry: 0
++++++++++

'10101'